body {
  padding: 0;
  margin: 0;
  background: #f9f9f9;
}
/*-- Navigationsleiste --*/
.navbar {
  background:#005ea9;
}
.nav-link,
.navbar-brand {
  color: white;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover,
.navbar-brand:hover {
  color: white;
  text-decoration: underline;
}
.navbar-collapse {
  justify-content: flex-end;
}

/* html, body, .grid-container { height: 100%; margin: 0; } */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 2.3fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}


/* For presentation only, no need to copy the code below */
.grid-container * {
  border: 1px solid red;
  position: relative;
}

.grid-container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
}
